*~
*.log
Makefile.conf
CHANGES
*.cproject
*.gb_project
*.project
*.log
ChangeLog
.settings
tests.xml
wiki-tests.xml
bin/
obj/
lib/
wiki-aunit.xml
docs/wiki-book.html
wikiada.cov
cover/
regtests/results
alire
*.substvars
debian/lib*
debian/.debhelper/
debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
debian/files
