*~
*.log
Makefile
config.status
CHANGES
*.cproject
*.gb_project
*.project
*.log
ChangeLog
.settings
configure.lineno
Makefile
wiki.gpr
tests.gpr
tests.xml
wiki-tests.xml
autom4te.cache
bin/
obj/
lib/
wiki-aunit.xml