*~
*.log
Makefile.conf
config.status
CHANGES
*.cproject
*.gb_project
*.project
*.log
ChangeLog
.settings
configure.lineno
wikiada.gpr
wikiada_tests.gpr
samples.gpr
tests.xml
wiki-tests.xml
autom4te.cache
bin/
obj/
lib/
wiki-aunit.xml
docs/wiki-book.html
wikiada.cov
cover/
regtests/results
alire
*.substvars
debian/lib*
debian/.debhelper/
debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
debian/files
